= form_for @prototype do |f|
  .col-md-8.col-md-offset-2
    %header.row.user-nav.row
      .col-md-12
        = f.text_field :title, placeholder: "Title", class: "proto-new-title"
        /%input.proto-new-title{type: "text", placeholder: "Title"}/
    .row
      .col-md-12
        = f.fields_for :capturedimages do |main_image|
          .cover-image-upload
            =main_image.file_field :photo, required: true
            =main_image.hidden_field :role, value: "main"

      .col-md-12
        %ul.proto-sub-list.list-group
          = f.fields_for :capturedimages do |sub_image|
            %li.list-group-item.col-md-4
              .image-upload
                = sub_image.file_field :photo
                = sub_image.hidden_field :role, value: "sub"
          %li.list-group-item.col-md-4
            = f.fields_for :capturedimages do |sub_image|
              .image-upload
              = sub_image.file_field :photo
              = sub_image.hidden_field :role, value: "sub"
          %li.list-group-item.col-md-4
            .image-upload-plus
              %span +
    .row.proto-description
      .col-md-12
        =f.text_field :catch_copy, placeholder: "Catch_copy"
      .col-md-12
        = f.text_area :concept, placeholder: "Concept", cols: "30", rows: "4"

      .col-md-12
        %h4 Tag List
        .row
          .col-md-3
            %input{type: "text", placeholder: "Web Design"}/
          .col-md-3
            %input{type: "text", placeholder: "UI"}/
          .col-md-3
            %input{type: "text", placeholder: "Application"}/
    .row.text-center.proto-btn
      f.submit "Publish", class: "btn btn-lg btn-primary btn-block"

